/*
label{
    justify-content: center;
    margin: 0 auto;
    display: flex;
}
#resultado{
    background-color: transparent;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pokemon.com%2Fes%2Ffondos-de-pantalla-virtuales-pokemon%2F&psig=AOvVaw1SB7ugjLYzCos_MiCPxsYk&ust=1692235216011000&source=images&cd=vfe&opi=89978449&ved=0CA4QjRxqFwoTCIj869GB4IADFQAAAAAdAAAAABAI);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

*/
